*{
  margin: 0;
  padding: 0;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  width: 50%;
  height: 60%;
  border-radius: 20px; /* 圆角半径为正方形边长的一半，实现圆形 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  transform: translate(-50%, -50%); /* 使用 transform 属性将 div 居中 */
}
.canvas-container {
  position: relative;
  width: 800px; /* 固定渲染器的宽度 */
  height: 600px; /* 固定渲染器的高度 */
}

#ToggleButton {
  position: absolute;
  top: 80%;
  left: 30%;
  z-index: 100;
  width: 10%;
  height: 5%;
}

#HE{
  position: absolute; 
  top: 30%;
  left: 80%;
  z-index: 200;
  width: 10%;
  height: 5%;
}
#MA{
  position: absolute; 
  top: 40%;
  left: 80%;
  z-index: 200;
  width: 10%;
  height: 5%;
}
#SE{
  position: absolute; 
  top: 50%;
  left: 80%;
  z-index: 200;
  width: 10%;
  height: 5%;
}
#EX{
  position: absolute; 
  top: 60%;
  left: 80%;
  z-index: 200;
  width: 10%;
  height: 5%;
}
#inButton {
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 100;
  width: 10%;
  height: 5%;
}

#ArteryButton{
  position: absolute;
  top: 45%;
  left: 10%;
  z-index: 100;
  width: 10%;
  height: 5%;
}

#VeinButton{
  position: absolute;
  top: 65%;
  left: 10%;
  z-index: 100;
  width: 10%;
  height: 5%;
}

#LButton {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 16%;
  height: 8%;
  font-size: 16px;
}

#RButton {
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 16%;
  height: 8%;
  font-size: 16px;
}
button {
  padding: 15px 30px; /* 加大按钮 */
  border: none;
  background-color: #4495eb; /* 蓝色背景 */
  color: #FFFFFF; /* 白色文字 */
  cursor: pointer;
  border-radius: 8px; /* 更大的圆角 */
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif; /* 使用指定字体 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 更大的阴影 */
  transition: all 0.3s ease; /* 添加过渡效果 */
}

button:hover {
  background-color: #30a2e4; /* 悬停时的背景颜色 */
  transform: translateY(-4px) scale(1.05); /* 上移和稍微放大 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* 更大的阴影 */
}

button:active {
  background-color: #0a4d9a; /* 点击时的背景颜色 */
  transform: translateY(0) scale(1); /* 恢复原始位置和大小 */
  box-shadow: none; /* 点击时去除阴影 */
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

canvas {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto; /* 允许canvas上的用户交互 */
}
